#!/bin/bash

set -e

TEMP_CERT_PATH="/tmp/{{ letsencrypt_domains[0] }}.crt"
INTERMEDIATE_PATH="{{ letsencrypt_install_path }}/intermediate.crt"

# Generate Let's Encrypt certificate for your domain(s).
/usr/local/bin/acme_tiny \
  --account-key {{ letsencrypt_account_key_path }} \
  --csr {{ letsencrypt_domain_csr_path }} \
  --acme-dir {{ letsencrypt_challenge_path }} \
  --ca {{ letsencrypt_default_ca }} > "${TEMP_CERT_PATH}" \
  2>> {{ letsencrypt_log_path }}/acme-tiny.log

# Complete trust chain by pulling down a fresh intermediate certificate.
wget {{ letsencrypt_intermediate_url }} -O "${INTERMEDIATE_PATH}"
cat "${TEMP_CERT_PATH}" "${INTERMEDIATE_PATH}" > {{ letsencrypt_chained_pem_path }}

# Restart service to pickup the certificate change.
sudo service {{ letsencrypt_restart_service_name }} restart
